select {
  max-width : 80px;
}

.box {
  min-height: 200px;;
}

html, body{
  position: relative;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(#F97794, #623AA2);
  background-repeat: no-repeat;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:55px;   /* Height of the footer */
}

@media (max-width: 992px) {
  footer {
    position: relative;
  }
  
  html, body{
    margin: 0;
    height: auto;
  }
}

@media (max-width: 668px) {
  footer{
    height: 70px;
  }
}
